<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Second Breakfast Club</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <section class="nav-section">
    <!-- nav bar -->
    <nav class="nav">
      <a href="#" class="nav-item is-active" active-color="orange">Home</a>
      <a href="#" class="nav-item" active-color="blue">Menu</a>
      <a href="#" class="nav-item" active-color="rebeccapurple">Contact</a>
      <a href="#" class="nav-item" active-color="red">Login</a>
      <span class="nav-indicator"></span>
    </nav>
  </section>


  <!-- header -->
  <header>
    <img
      src="https://res.cloudinary.com/moteefe/image/upload/v1544846424/store/logo_image/d53968c5-a47e-4dcf-a265-d4559df83957.png"
      alt="logo">
  </header>
  <main>
    <section class="menu-section">
      <menu class="menu">
        <!-- <h3 class="food-name"><span class="food-price"></span></h3>
        <p class="food-description"></p> -->
      </menu>
    </section>

  </main>
</body>

</html>