<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>The Second Breakfast Club</title>
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/cart.css" rel="stylesheet" />
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" >
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet">
</head>

<body>

  <div class="container">

    <!-- Top-Header  -->
    <div class="placeholder">

      <!-- Parallax Video  -->
      <div class="parallax-window" data-parallax="scroll" data-image-src="video/green-hills.mp4">


        <div class="picture">
          <img src="img/the-second-breakfast-club-the-boys.png" alt="Logo" class="site-picture" />
        </div>

        <!-- Main Header  -->
        <div class="header">
          <div class="row header-inner">
            <div class="col-md-6 col-12">
              <img src="img/the-second-breakfast-club-title.png" alt="Logo" class="site-logo" />
            </div>

            <!-- Navbar  -->
            <nav class="col-md-6 col-12 nav">
              <ul class="nav-ul">
                <li class="nav-li"><a href="views/index.ejs" class="nav-link active">Menu</a></li>
                <li class="nav-li"><a href="views/order.ejs" class="nav-link">Order</a></li>
                <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge-outer">0</span></a></li>
              </ul>
            </nav>
            <!-- /Navbar  -->

            <!-- Order Cart -->
            <div class="shopping-cart">
              <!-- Order Cart: Header-->
              <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge-inner"></span>
                <div class="shopping-cart-total">
                  <span class="lighter-text">Total:</span>
                  <span class="main-color-text">$0.00</span>
                </div>
              </div>
              <!-- /Order Cart: Header-->

              <!-- Order Cart: Items-->
              <ul class="shopping-cart-items">
                <li class="clearfix">
                  <img src="img/gallery/01.jpg" alt="item1" />
                  <span class="item-name">Halibut</span>
                  <span class="item-price">$849.99</span>
                  <span class="item-quantity">Quantity: 01</span>
                </li>

                <li class="clearfix">
                  <img src="img/gallery/02.jpg" alt="item1" />
                  <span class="item-name">Fish -N- Chips</span>
                  <span class="item-price">$1,249.99</span>
                  <span class="item-quantity">Quantity: 01</span>
                </li>

                <li class="clearfix">
                  <img src="img/gallery/03.jpg" alt="item1" />
                  <span class="item-name">Fried Dragon</span>
                  <span class="item-price">$129.99</span>
                  <span class="item-quantity">Quantity: 01</span>
                </li>
              </ul>
              <!-- /Order Cart: Items-->

              <a href="#" class="button">ORDER</a>
            </div>
            <!-- /Order Cart -->

          </div>
        </div>
        <!-- /Main Header  -->
      </div>
      <!-- /Parallax Video  -->
    </div>
    <!-- /Top-Header  -->

</body>
