<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>The Second Breakfast Club</title>
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/cart.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet" />
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" >
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->

</head>

<body>
  <div class="container">
    <!-- Top-Header Container -->
    <div class="placeholder">
      <!-- Parallax Video Container  -->
      <div class="parallax-window" data-parallax="scroll" data-image-src="/assets/video/green-hills.mp4">

        <div class="picture">
          <img src="/assets/img/the-second-breakfast-club-the-boys.png" alt="Logo" class="site-picture" />
        </div>

        <!-- Main Header Container  -->
        <div class="header">
          <div class="row header-inner">
            <div class="col-md-6 col-12">
              <img src="/assets/img/the-second-breakfast-club-title.png" alt="Logo" class="site-logo" />
            </div>

            <!-- Navbar Container  -->
            <nav class="col-md-6 col-12 nav">
              <ul class="nav-ul">
                <li class="nav-li"><a href="index.ejs" class="nav-link active">Menu</a></li>
                <li class="nav-li"><a href="order.ejs" class="nav-link">Order</a></li>
                <li class="nav-li"><a href="#" id="cart" class="nav-link"><i class="fa fa-shopping-cart"></i> Cart <span
                      class="badge-outer">0</span></a></li>
              </ul>
            </nav>
            <!-- /Navbar Container  -->

            <!-- Order Cart Container -->
            <div class="shopping-cart">
              <!-- Order Cart: Header-->
              <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge-inner">0</span>
                <div class="shopping-cart-total">
                  <span class="lighter-text">Total:</span>
                  <span class="main-color-text">$0.00</span>
                </div>
              </div>
              <!-- /Order Cart: Header-->

              <!-- Order Cart: Items-->
              <ul class="shopping-cart-items">
                <!-- cart item adds in here -->
              </ul>
              <!-- /Order Cart: Items-->
              <a href="#" class="button">ORDER</a>
            </div>
            <!-- /Order Cart Container -->
          </div>
        </div>
        <!-- /Main Header Container  -->
      </div>
      <!-- /Parallax Video Container  -->
    </div>
    <!-- /Top-Header Container  -->

    <!-- Main Container  -->
    <main>

      <!-- Welcome Header  -->
      <header class="row welcome-section">
        <h2 class="col-12 text-center section-title">Welcome to the Second Breakfast Club</h2>
        <p class="col-12 text-center">A place to rest in between your journey. We made our website as simple possible,
          so you can focus less on moving around and more on getting the food you want!</p>
      </header>
      <!-- /Welcome Header  -->

      <!-- Paging Filters  -->
      <div class="paging-links">
        <nav>
          <ul>
            <li class="paging-item"><a href="#" class="paging-link active menu">Menu</a></li>
            <li class="paging-item"><a href="#" class="paging-link ">Entrees</a></li>
            <li class="paging-item"><a href="#" class="paging-link">Appetizers</a></li>
            <li class="paging-item"><a href="#" class="paging-link">Desserts</a></li>
            <li class="paging-item"><a href="#" class="paging-link">Drinks</a></li>
          </ul>
        </nav>
      </div>
      <!-- Paging Filters  -->

      <!-- Gallery Container  -->
      <div class="row gallery">
        <!-- menu item adds in here -->
      </div>
      <!-- /Gallery Container  -->

      <!-- Food of the Day -->
      <div class="section container-inner">
        <div class="row">
          <div class="col-md-6">
            <figure class="description-figure">
              <img src="/assets/img/hobbiton.jpeg" alt="Image" class="img-fluid" />
            </figure>
          </div>
          <div class="col-md-6">
            <div class="description-box">
              <h4 class="gallery-title">The Second Brekfast Club -Hobbiton, The Shire</h4>
              <p class="mb-45"> Welcome to the Second Breakfast Club - Brought to you by Master Peregrin Took and
                Meriadoc Brandybuck </p>
              <p>
                Whether you come from near or from far all who travel the King's road to our humble abode will find
                rest, warmth, good-food and old fashioned Hobbit cheer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Food of the Day -->
    </main>
    <!-- /Main Container  -->

    <!-- Footer  -->
    <footer class="footer text-center">
      <p>The Second Breakfast Club&trade; | Made with 💚 by:
        <a style="text-decoration: underline;" href="https://www.github.com/shaheeriam">Shaheer</a>,
        <a style="text-decoration: underline;" href="https://github.com/Pulse6">Marco</a>, and
        <a style="text-decoration: underline;" href="https://github.com/lynchseb">Sebastian</a>
      </p>
    </footer>
    <!-- /Footer  -->

    <!-- JavaScript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/parallax.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <!-- /JavaScript -->
</body>

</html>
