<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>The Second Breakfast Club</title>
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/cart.css" rel="stylesheet" />
  <link href="/css/chat.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/00423a3f1e.js" crossorigin="anonymous"></script>
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" >
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->

</head>

<body>
  <div id="clear" class="hide-clear"></div>
  <img class="gifs-dog hide-clear" src="https://i.ya-webdesign.com/images/dancing-gifs-png-7.gif" alt="">
  <img class="gifs-sim hide-clear" src="https://i.ya-webdesign.com/images/funny-gif-png-2.gif" alt="">
  <img class="gifs-dance hide-clear" src="https://i.gifer.com/7Uw.gif" alt="">
  <img class="gifs-girl hide-clear" src="https://i.gifer.com/XqyP.gif" alt="">
  <img class="gifs-thatguy hide-clear" src="https://i.gifer.com/14Um.gif" alt="">
  <img class="gifs-banana hide-clear" src="https://i.gifer.com/4Snl.gif" alt="">
  <img class="gifs-eye hide-clear" src="https://i.gifer.com/2GY.gif" alt="">
  <img class="gifs-potin hide-clear" src="https://i.gifer.com/y4.gif" alt="">
  <img class="gifs-realdog hide-clear" src="https://i.gifer.com/YaDd.gif" alt="">
  <img class="gifs-hobbits hide-clear" src="https://i.gifer.com/7CY6.gif" alt="">
  <img class="gifs-batman hide-clear" src="https://i.gifer.com/6DYm.gif" alt="">
  <div class="container">

    <!-- Top-Header Container -->
    <div class="placeholder">
      <!-- Parallax Video Container  -->
      <div class="parallax-window" data-parallax="scroll" data-image-src="/assets/video/green-hills.mp4">

        <div class="picture">
          <img src="/assets/img/the-second-breakfast-club-the-boys.png" alt="Logo" class="site-picture" />
        </div>

        <!-- Main Header Container  -->
        <div class="header">
          <div class="row header-inner">
            <div class="col-md-6 col-12">
              <img src="/assets/img/the-second-breakfast-club-title.png" alt="Logo" class="site-logo" />
            </div>

            <!-- Navbar Container  -->
            <nav class="col-md-6 col-12 nav">
              <ul class="nav-ul">
                <li class="nav-li"><a href="index" class="nav-link active">Menu</a></li>
                <li class="nav-li"><a href="order" class="nav-link">Order</a></li>
                <li class="nav-li"><a href="#" id="cart" class="nav-link"><i class="fa fa-shopping-cart"></i> Cart <span
                      class="badge-outer">0</span></a></li>
              </ul>
            </nav>
            <!-- /Navbar Container  -->

            <!-- Order Cart Container -->
            <div class="shopping-cart">
              <!-- Order Cart: Header-->
              <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge-inner">0</span>
                <div class="shopping-cart-total">
                  <span class="lighter-text">Total:</span>
                  <span class="main-color-text">$0.00</span>
                </div>
              </div>
              <!-- /Order Cart: Header-->

              <!-- Order Cart: Items-->
              <ul class="shopping-cart-items">
                <!-- cart item adds in here -->
              </ul>
              <!-- /Order Cart: Items-->
              <form action="/order" method="POST">
                <button class="button">ORDER</button>
              </form>
            </div>
            <!-- /Order Cart Container -->
          </div>
        </div>
        <!-- /Main Header Container  -->
      </div>
      <!-- /Parallax Video Container  -->
    </div>
    <!-- /Top-Header Container  -->

    <!-- Main Container  -->
    <main>

      <div class="chat-content">
        <!-- Chat Name Entry -->
        <div id="user-form-area">
          <form id="user-form">
            <div class="login-area form-group" />
            <input type="text" id="username" class="login-credential form-control" placeholder="What's your name?"></input>
            <input type="submit" class="send" value="Enter" />
        </div>
        </form>
      </div>
      <!-- /Chat Name Entry -->

      <!-- Chat Header -->
      <div class="conversation-title">
        <h1>&#x1F9D9;&zwj; &#x1F95E; The Second Breakfast Club &#x1F9C7; &#x1F9D9;&zwj;&female;&#xFE0F;</h1>
      </div>
      <!-- /Chat Header -->

      <!-- Chat Body -->
      <div id="chat" class="conversation-wrapper chat">


        <div class="message-sent">
              <div class="bubble">Hi Marco and Sebastian!</div>
              <div class="namestamp">
                <div class="name">Shaheer</div>
              </div>
            </div>

            <div class="message-sent">
              <div class="bubble">Open two tabs on localhost:8080, comment this out in the HTML, and start chatting away!</div>
              <div class="namestamp">
                <div class="name">Potin</div>
              </div>
            </div>

            <div class="message-sent">
              <div class="bubble">Also please get the chat window to hide somehow.</div>
              <div class="namestamp">
                <div class="name">Homer Simpson</div>
              </div>
            </div>

      </div>
      <!-- /Chat Body -->

      <!-- Chat Text Input -->
      <form id="message-form">
        <div class="messaging-area form-group" />
        <input type="text" id="message" class="form-control" placeholder="Ask us for order suggestions..."></input>
        <input type="submit" class="send" value="" />
        </div>
      </form>
      <!-- /Chat Text Input -->
      </div>

      <!-- Welcome Header  -->
      <header class="row welcome-section">
        <h2 class="col-12 text-center section-title">Welcome to the Second Breakfast Club</h2>
        <p class="col-12 text-center">A place to rest in between your journey. We made our website as simple possible,
          so you can focus less on moving around and more on getting the food you want!</p>
      </header>
      <!-- /Welcome Header  -->

      <!-- Paging Filters  -->
      <div class="paging-links">
        <nav>
          <ul>
            <li class="paging-item"><a href="#" class="paging-link active menu">Menu</a></li>
            <li class="paging-item"><a href="#" class="paging-link ">Entrees</a></li>
            <li class="paging-item"><a href="#" class="paging-link">Appetizers</a></li>
            <li class="paging-item"><a href="#" class="paging-link">Desserts</a></li>
            <li class="paging-item"><a href="#" class="paging-link">Drinks</a></li>
          </ul>
        </nav>
      </div>
      <!-- Paging Filters  -->

      <!-- Gallery Container  -->
      <div class="row gallery">
        <!-- menu item adds in here -->
      </div>
      <!-- /Gallery Container  -->

      <!-- Food of the Day -->
      <div class="section container-inner">
        <div class="row">
          <div class="col-md-6">
            <figure class="description-figure">
              <img class="this-shit" src="/assets/img/hobbiton.jpeg" alt="Image" class="img-fluid" />
            </figure>
          </div>
          <div class="col-md-6">
            <div class="description-box">
              <h4 class="gallery-title">The Second Brekfast Club -Hobbiton, The Shire</h4>
              <p class="mb-45"> Welcome to the Second Breakfast Club - Brought to you by Master Peregrin Took and
                Meriadoc Brandybuck </p>
              <p>
                Whether you come from near or from far all who travel the King's road to our humble abode will find
                rest, warmth, good-food and old fashioned Hobbit cheer</p>
            </div>
          </div>
        </div>
      </div>

      <div id="topBtn">
        <div class="buttonFlex">
          <button><img src="/assets/img/hiclipart.com.png"></i></button>
          <p>Top</p>
        </div>
      </div>

      <!-- /Food of the Day -->
    </main>
    <!-- /Main Container  -->

    <!-- Footer  -->
    <footer class="footer text-center">
      <p>The Second Breakfast Club&trade; | Made with 💚 by:
        <a style="text-decoration: underline;" href="https://www.github.com/shaheeriam">Shaheer</a>,
        <a style="text-decoration: underline;" href="https://github.com/Pulse6">Marco</a>, and
        <a style="text-decoration: underline;" href="https://github.com/lynchseb">Sebastian</a>
      </p>
    </footer>
    <!-- /Footer  -->

    <!-- JavaScript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/parallax.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" src="/js/chat.js"></script>
    <!-- <script src="/node_modules/socket.io/socket.io.js"></script> -->


    <!-- <script>
      console.log('hi');
      $(function() {
          const socket = io('127.0.0.1:8080/?access_token=1d845e53c4b4bd2e235a66fe9c042d75ae8e3c6ae', { path: '/socket.io' });
          // const socket = io.connect();
          const $messageForm = $('#message-form');
          const $message = $('#message');
          const $chat = $('#chat');
          const $userFormArea = $('#user-form-area');
          const $userForm = $('#user-form')
          const $username = $('#username');
          console.log('hi');

          $messageForm.submit(e => {
            e.preventDefault();
            socket.emit('send message', $message.val());
            $message.val('');
          });

          $userForm.submit(e => {
            e.preventDefault();
            socket.emit('new user', $username.val(), data => {
              if (data) {
                $userFormArea.hide();
              }
            });
            $username.val('');
          });

          socket.on('new message', data => {
            $chat.append(
            `
            <div class="message-sent">
              <div class="bubble">${data.msg}</div>
              <div class="namestamp">
                <div class="name">${data.user}</div>
              </div>
            </div>
            `
            )
          });
        })
    </script> -->
    <!-- /JavaScript -->
</body>

</html>
