<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/login.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet" />
  <title>The Second Breakfast Club</title>
</head>
<body>

  <div class="movie">
    <div class="parallax-window" data-parallax="scroll" data-image-src="/assets/video/Hobbiton.mp4"> </div>
  </div>


<div class="loginOutter">
    <button id="myButton" class="loginInner" >Enter the Second Breakfast Club</button>
</div>

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/vendor/parallax.min.js"></script>
<script type="text/javascript">
  document.getElementById("myButton").onclick = function () {
      location.href = "http://localhost:8080/";
    };
</script>

</body>
</html>
