<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>The Second Breakfast Club</title>
  <link href="/css/order-style.css" rel="stylesheet" />
  <link href="/css/order-table.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/00423a3f1e.js" crossorigin="anonymous"></script>
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" >
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
</head>

<body>
  <div class="container">
    <!-- Top-Header Container -->
    <div class="placeholder">
      <!-- Parallax Video Container  -->
      <div class="parallax-window" data-parallax="scroll" data-image-src="/assets/video/grass-video.mp4">

        <div class="picture">
          <img src="/assets/img/the-second-breakfast-club-the-boys.png" alt="Logo" class="site-picture" />
        </div>

        <!-- Main Header Container  -->
        <div class="header">
          <div class="row header-inner">
            <div class="col-md-6 col-12">
              <img src="/assets/img/the-second-breakfast-club-title.png" alt="Logo" class="site-logo" />
            </div>

            <!-- Navbar Container  -->
            <nav class="col-md-6 col-12 nav">
              <ul class="nav-ul">
                <li class="nav-li"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-li">
                  <a href="#" id="cart" class="nav-link active">
                    <i class="fas fa-utensils"></i> Your Order
                  </a>
                </li>
              </ul>
            </nav>
            <!-- /Navbar Container  -->

          </div>
        </div>
        <!-- /Main Header Container  -->
      </div>
      <!-- /Parallax Video Container  -->
    </div>
    <!-- /Top-Header Container  -->

    <!-- Main Container  -->
    <main>



      <!-- Welcome Header  -->
      <header class="row welcome-section">
        <h1 class="col-12 text-center section-title">Order Complete!</h1>
        <h1 id="countdown-timer"></h1>
        <p class="col-12 text-center">We have an Old Gaffer guarantee of 25 minutes or less. Whether you're coming to us from this side of the Brandywine or as far as the Lonely Mountain The Second Breakfast Club will not dissapoint!</p>
      </header>
      <!-- /Welcome Header  -->
      <img class="checkoutImg" src="/assets/img/checkout-img.png">
      <!--  Order Summary -->
      <h1 class="col-12 text-center section-title">Here's a summary of your order!</h1>
      <section class = "all-cart-items">
      </section>
      <!-- <li class="cart-list-item">
        <div class="cart-item-img"
          style="background-image: url('assets/img/food/mushrooms.jpg');">
        </div>
        <div class="cart-item">
          <div class="cart-item-description">
            <span>
              <p class="cart-item-label">Food 1</p>
              <p class="cart-item-price">$200.00</p>
              <p class="cart-item-quantity">Quantity: <span class="exact-quantity">12</span></p>
            </span>
          </div>
        </div>
      </li>
      <li class="cart-list-item">
        <div class="cart-item-img"
          style="background-image: url('assets/img/food/mushrooms.jpg');">
        </div>
        <div class="cart-item">
          <div class="cart-item-description">
            <span>
              <p class="cart-item-label">Food 2</p>
              <p class="cart-item-price">$950.00</p>
              <p class="cart-item-quantity">Quantity: <span class="exact-quantity">12</span></p>
            </span>
          </div>
        </div>
      </li>
      <li class="cart-list-item">
        <div class="cart-item-img"
          style="background-image: url('assets/img/food/mushrooms.jpg');">
        </div>
        <div class="cart-item">
          <div class="cart-item-description">
            <span>
              <p class="cart-item-label">Food 3</p>
              <p class="cart-item-price">$80.00</p>
              <p class="cart-item-quantity">Quantity: <span class="exact-quantity">12</span></p>
            </span>
          </div>
        </div>
      </li>
      <li class="cart-list-item">
        <div class="cart-item-img" style="background-image: url('assets/img/food/mushrooms.jpg');">
        </div>
        <div class="cart-item">
          <div class="cart-item-description">
            <span>
              <p class="cart-item-label">Total</p>
              <p class="cart-item-price">$8000.00</p>
              <p class="cart-item-quantity">Quantity: <span class="exact-quantity">12</span></p>
            </span>
          </div>
        </div>
      </li> -->
      <!--  /Order Summary -->
      <!-- Map Container-->
      <div class="container-inner-2 map-section">
        <div class="row">
          <div class="col-12">
            <div class="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d44902273.27766899!2d-163.24965450775727!3d3.1044947310003246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e4!4m5!1s0x6d6dab83b542928f%3A0x63a727a549c25050!2sUnnamed%20Road%2C%20Hobbiton%20Village%2C%203472%2C%20New%20Zealand!3m2!1d-37.8577046!2d175.6807567!4m5!1s0x882b34d97247bbc3%3A0xbc1d36bccb4b45ba!2sLighthouse%20Labs%2C%20King%20Street%20West%20%23101%2C%20Toronto%2C%20ON!3m2!1d43.644175!2d-79.402204!5e0!3m2!1sen!2sca!4v1584039908544!5m2!1sen!2sca"
                frameborder="0" style="border:2px solid #4E9270;" ></iframe>
            </div>
          </div>
        </div>
      </div>
      <!-- /Map Container-->


    </main>
    <!-- /Main Container  -->

    <!-- Footer  -->
    <footer class="footer text-center">
      <p>The Second Breakfast Club&trade; | Made with 💚 by:
        <a style="text-decoration: underline;" href="https://www.github.com/shaheeriam">Shaheer</a>,
        <a style="text-decoration: underline;" href="https://github.com/Pulse6">Marco</a>, and
        <a style="text-decoration: underline;" href="https://github.com/lynchseb">Sebastian</a>
      </p>
    </footer>
    <!-- /Footer  -->

    <!-- JavaScript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/parallax.min.js"></script>
    <script type="text/javascript" src="/js/order-page.js"></script>
    <script type="text/javascript" src="/js/timer.js"></script>
    <!-- /JavaScript -->
