.cart {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
.item-template {
  // display: flex;
  li {
    margin: 0 10px;
  }
  div {
    display: flex;
    justify-content: end;
    .item-count input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid black;
      width: 30px;
    }
  }
  .count-item-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .add-to-cart {

  // }
}
// .cart-show-hide{
//   position: absolute;
//   right: 0px;
//   bottom: 0px;
//   height: 50px;
//   width: 50px;
//   background-color: blue;
// }
