menu {
  color: rgb(228, 204, 70);
  // height: 100vh;
  width: 100%;
  display: grid; // new
  grid-template-columns: 1fr 1fr 1fr; // new
  grid-gap: 40px; // new

  .menu-item {
    margin: 0 auto;
  }

  h2 {
    font-family: 'MedievalSharp', sans-serif;
    display: inline-block;
  }

  p {
    font-size: 1.3em;
  }
}
